server:
  port: 8001

spring:
  application:
    name: cloud-payment-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/pay?characterEncoding=utf-8&allowMultiQueries=true&serverTimezone=GMT%2B8&useSSL=false&allowMultiQueries=true
    username: root
    password: root
  # consul的注册地址
  cloud:
    consul:
      host: 192.168.31.103
      port: 8500
      discovery:
        health-check-interval: 10s
        service-name: ${spring.application.name}
        instance-id: ${spring.application.name}-${127.0.0.1}-${server.port}
        heartbeat:
          enabled: true

mybatis:
  config-location: classpath:mapper/*.xml
  type-aliases-package: com.cc.cloud.entities

# 默认的swagger的开启。
web:
  swagger:
    enabled: true