server:
  port: 81

spring:
  application:
    name: cloud-consumer-order
  cloud:
    consul:
      host: 127.0.0.1
      port: 8500
      discovery:
        register: true
        service-name: ${spring.application.name}
web:
  swagger:
    enabled: true
cloud-payment-service:
  ribbon:
    ReadTimeout: 10000
    ConnectTimeout: 2000